html, body, #root, #app {
  height: 100%;
}

.main-content {
  padding: 50px;
}

@media (prefers-color-scheme: dark) {
  html, body, #root, #app {
      background-color: #242425;
      color: white;
  }
  .accordion > .card {
      background-color: #242425;
  }
}